* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    font-family: Helvetica;
    -webkit-font-smoothing: antialiased;
    background: rgba(71, 147, 227, 1);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
}

h2 {
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    padding: 30px 0;
}

/* Table Styles */

.table-wrapper {
    margin: 10px 70px 70px;
    box-shadow: 0px 35px 50px rgba(0, 0, 0, 0.2);
}

.fl-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

.fl-table thead th {
    color: #ffffff;
    background: #4FC3A1;
}


.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}

.btn {
    border: none;
    font-family: 'Lato';
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 25px 80px;
    margin:0 auto;
    display:block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    height: 50px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

/* Pseudo elements for icons */
.btn:before {
    font-family: 'FontAwesome';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    position: center;
    -webkit-font-smoothing: antialiased;
}

/* Icon separator */
.btn-sep {
    padding: 5px 60px 5px 120px;
}

.btn-sep:before {
    background: rgba(0,0,0,0.15);
}

/* Button 1 */
.btn-1 {
    background: #3498db;
    color: #fff;
}

.btn-1:hover {
    background: #2980b9;
}

.btn-1:active {
    background: #2980b9;
    top: 2px;
}

.btn-1:before {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 3;
    font-size: 140%;
    width: 60px;
}

.btn-2 {
    background: #e74c3c;
    color: #fff;
}

.btn-2:hover {
    background: #c0392b;
}

.btn-2:active {
    background: #c0392b;
    top: 2px;
}

.btn-2:before {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 3;
    font-size: 140%;
    width: 60px;
}

.btn-3 {
    background: #2ecc71;
    color: #fff;
}

.btn-3:hover {
    background: #27ae60;
}

.btn-3:active {
    background: #27ae60;
    top: 2px;
}

.btn-3:before {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 3;
    font-size: 140%;
    width: 60px;
}

.icon-delete:before {
    content: "\f014";
}

.icon-save:before {
    content: "\f0c7";
}

.icon-add:before {
    content: "\f055";
}